<!--YEAH animation-->
<section id ="animated text">
  <div class="container">
  <div align="center">
    <style>body{margin:0;}</style>
<svg viewBox="0 0 600 300">

  <!-- Symbol -->
  <symbol id="s-text">
    <text text-anchor="middle"
          x="50%" y="50%" dy=".35em">
      YEAH
    </text>
  </symbol>

  <!-- Duplicate symbols -->
  <use xlink:href="#s-text" class="text"
       ></use>
  <use xlink:href="#s-text" class="text"
       ></use>
  <use xlink:href="#s-text" class="text"
       ></use>
  <use xlink:href="#s-text" class="text"
       ></use>
  <use xlink:href="#s-text" class="text"
       ></use>

</svg>
</div>
</div>
</section>

<section id="rotate-text">
  <div align="center">

  <svg class="rotate" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 0 0 128 0 128">
    <path class= "rectangle" fill="#FFF" d="M0 0h128v128H0z"/>
    <path class= "rectangle" d="M57.208 15.422h14.584v98.156H57.208z"/>
    <path class="rectangle" d="M57.208 15.422h14.584v98.156H57.208z" stroke="#000" fill="none"/>
    <g>
      <path class= "rectangle" d="M115.547 57.489v14.022H13.453V57.489z"/>
      <path class= "rectangle" d ="M115.547 57.489v14.022H13.453V57.489z" stroke="#000" fill="none"/>
      <path class= "rectangle" d="M105.752 94.245l-10.313 9.916-72.191-69.406 10.313-9.916z"/>
      <path class= "rectangle" d="M105.752 94.245l-10.313 9.916-72.191-69.406 10.313-9.916z" stroke="#000" fill="none"/>
      <g>
        <path class="rectangle" d="M33.561 104.161l-10.313-9.916 72.191-69.406 10.313 9.916z"/>
        <path class="rectangle" d="M33.561 104.161l-10.313-9.916 72.191-69.406 10.313 9.916z" stroke="#000" fill="none"/>
      </g>
    </g>
  </svg>

</div>
</section>
