<section id="intro">
    <div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center" class="img-responsive center-block">
        <h2>Please take a moment to view my work</h2>
</section>

<section>
    <div align="center">
      <div class="row samples">
            <div class="col-sm-3">
                <a href="http://yeah-noth.in/2cES1Tg" target="_blank">
                    <img src="/img/Arrowhead.jpg" alt="Arrowhead">
                </a>
            </div><!-- /col -->
            <div class="col-sm-3">
                <a href="http://yeah-noth.in/2d5ifS8" target="_blank">
                    <img src="/img/Angry Face_2.jpg" alt="Angry Face_2">
                </a>
            </div><!-- /col -->
            <div class="col-sm-3">
                <a href="http://yeah-noth.in/2cEDcVC" target="_blank">
                    <img src="/img/Rectangles with face.jpg" alt="Rectangles with face">
                </a>
            </div><!-- /col -->
            <div class="col-sm-3">
                <a href="http://yeah-noth.in/2duUyRF" target="_blank">
                    <img src="/img/Red_Yellow_Blue.jpg" alt="Red_Yellow_Blue">
                </a>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
    </div>
</section>
