<section id="selfie">

     <div class="col-md-12">
        <div class="selfie-carousel">
          <div id="selfie-slider" class="owl-carousel">

            <div>
                <img src="img/Selfie_1.png" class="img-responsive" alt="IMG">
            </div>

            <div>
              <img src="img/Selfie_2.png" class="img-responsive" alt="IMG">
            </div>

            <div>
              <img src="img/Selfie_3.png" class="img-responsive" alt="IMG">
            </div>

            <div>
              <img src="img/Selfie_4.png" class="img-responsive" alt="IMG">
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  </section>
